<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-3" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Toylog</a></div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <div class="nav navbar-nav navbar-right">
                {{#if username}}
                    <p class="navbar-text"><a href="#" class="navbar-link">{{username}}</a>님 환영합니다</p>
                    <form method="post" action="/logout" style="display: inline;">
                        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                        <button type="submit" class="btn btn-primary navbar-btn">로그아웃</button>
                    </form>
                {{else}}
                    <a class="btn btn-primary navbar-btn" href="/login">로그인</a>
                    <a class="btn btn-default navbar-btn" href="/signUp">회원가입</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>